@font-face {
    font-family: 'SF-Pro-Display-Semibold';
    src: url('../assets/fonts/SF-Pro-Display-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'SF-Pro-Display-Regular';
    src: url('../assets/fonts/SF-Pro-Display-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF-Pro-Display-Regular-Italic';
    src: url('../assets/fonts/SF-Pro-Display-RegularItalic.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'SF-Pro-Display-Regular';
}

#title {
    font-family: 'SF-Pro-Display-Semibold';
    margin: 15px;
}